{
    "extends": ["airbnb-base", "prettier"],
    "plugins": ["jest"],
    "env": {
      "node": true,
      "es6": true,
      "jest/globals": true
    },
    "parserOptions": {
      "ecmaVersion": 2020,
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true
      },
      "sourceType": "module"
    },
    "rules": {
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
      "no-underscore-dangle": "off",
      "no-param-reassign": "off",
      "consistent-return": "off",
      "no-await-in-loop": "off",
      "no-plusplus": "off",
      "prefer-destructuring": "off"
    }
  }
  